@using Entities
@using System.ComponentModel.DataAnnotations

@page "/edit-categoryid-{CategoryId}"
@rendermode InteractiveServer

<h3>Edit Category</h3>

<EditForm FormName="EditCategory" Model="@categoryToEdit" OnValidSubmit="Submit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="name">Název</label>
        <InputText id="name" class="form-control" @bind-Value="categoryToEdit.Name" />
        <ValidationMessage For="@(() => categoryToEdit.Name)" />
    </div>

    <div class="form-group">
        <label for="description">Popis</label>
        <InputTextArea id="description" class="form-control" @bind-Value="categoryToEdit.Description" />
        <ValidationMessage For="@(() => categoryToEdit.Description)" />
    </div>

    <button type="submit" class="btn btn-primary">Uložit</button>

</EditForm>