@using Entities
@using System.ComponentModel.DataAnnotations

@page "/edit-categoryid-{CategoryId}"
@rendermode InteractiveServer

<h3>Edit Category</h3>

<CategoriesForm FormName="EditCategory" CategoryId=@CategoryId />