@using Entities
@using System.ComponentModel.DataAnnotations

@page "/edit-customerid-{CustomerId}"
@rendermode InteractiveServer

<h3>Edit Customer</h3>

<FormCustomer FormName="EditCustomer" CustomerId=@CustomerId />

<CustomersOrders CustomerId="@CustomerId"/>