@using Entities
@using System.ComponentModel.DataAnnotations

@page "/edit-productid-{ProductId}"
@rendermode InteractiveServer

<h3>Edit Product</h3>

<ProductForm FormName="EditProduct" ProductId=@ProductId />